/* main.sass */
/* I have not reduced down a lot of this yet. TODO. */
$site-width: 960px
$color-light1: #FF8040
$color-light2: #FFA273
$color-main: #FF5600
$color-dark1: #BF6030
$color-dark2: #A63800
$bright-font: #FFFFFF
$dark-font: #000000
$small-font-size: 16px
$header-hover: #EEEEEE
$content-background: #FFFFFF
$font-name: "Copse"

$info-color: #00529B
$info-background-color: #BDE5F8
$success-color: #4F8A10
$success-background-color: #DFF2BF
$warning-color: #9F6000
$warning-background-color: #FEEFB3
$error-color: #D8000C
$error-background-color: #FFBABA
$circle-year: 1.4583em*3

$small-height: 0.250em
$small-margin: 0.250em
$large-width: 13em
$small-width: 3em

$large-font: 20px
$huge-font: 36px

@mixin linear-gradient($start, $firstColor, $firstPercent, $secondColor, $secondPercent)
  background:
    image: linear-gradient($start, $firstColor $firstPercent + "%", $secondColor $secondPercent + "%")
    image: -o-linear-gradient($start, $firstColor $firstPercent + "%", $secondColor $secondPercent + "%")
    image: -moz-linear-gradient($start, $firstPercent + "%", $secondColor $secondPercent + "%")
    image: -webkit-linear-gradient($start, $firstPercent + "%", $secondColor $secondPercent + "%")
    image: -ms-linear-gradient($start, $firstPercent + "%", $secondColor $secondPercent + "%")
    image: -webkit-gradient(linear, left top, left bottom, color-stop($firstPercent/100, $firstColor), color-stop($secondPercent/100, $secondColor))

body
  margin: auto
  @include linear-gradient(top, $color-light2, 26, $color-light1, 65)
  background:
    repeat: no-repeat
    color: $color-light1
  font:
    size: $small-font-size
    family: $font-name, serif
  color: $dark-font

a
  &:link
    color: $color-dark1
  &:visited
    color: $color-dark2
  &:active
    color: $color-dark2
  &:hover
    color: $color-main

#top
  height: 4.938em
  width: 100%
  background-color: $color-dark1
  border:
    style: none none dotted none
    width: thin
    color: $bright-font

#navbar
  width: $site-width
  height: 5em
  margin:
    left: auto
    right: auto
    top: -3.125em
    bottom: 1.875em
  background-color: $color-main
  color: $bright-font
  vertical-align: middle
  text-align: right
  a:link
    color: $bright-font
    text-decoration: none
  a:visited
    color: $bright-font
    text-decoration: none
  a:hover
    color: $header-hover
    text-decoration: none
  a:active
    color: $bright-font
    text-decoration: none

#inner-navbar
  border:
    style: dotted
    width: thin
    color: $bright-font
  height: 4.5em
  width: 59.5em
  margin:
    left: $small-margin
    right: $small-margin
    top: 0em
    bottom: $small-margin
  .left
    text-align: center

@mixin box($flex, $orient, $align, $pack)
  display: box
  display: -moz-box
  display: -webkit-box
  box-flex: $flex
  -moz-box-flex: $flex
  -webkit-box-flex: $flex
  box-orient: $orient
  -moz-box-orient: $orient
  -webkit-box-orient: $orient
  box-align: $align
  -moz-box-align: $align
  -webkit-box-align: $align
  box-pack: $pack
  -moz-box-pack: $pack
  -webkit-box-pack: $pack

.vertical-center
  @include box(1, horizontal, center, center)

.circle.vertical-center
  @include box(1, vertical, center, center)

#inner-navbar-block
  height: $small-height

.name
  font-size: $huge-font
  width: 11em

.left
  @extend left-float
  text-align: left

.right
  @extend right-float
  text-align: right

.clear-both
  clear: both

.header-seperator
  color: $color-dark1
  font-size: $huge-font
  width: $small-width

.seperator
  width: $small-width
  text-align: center

#top-warning
  position: fixed
  z-index: 5
  background-color: $warning-background-color
  color: $warning-color
  padding: 0.938em 0.625em 0.938em 3.125em

.content
  min-height: 10em
  background-color: $content-background
  color: $dark-font
  width: $site-width - 20px
  margin:
    left: auto
    right: auto

.inner-content
  padding:
    left: 0.625em
    right: 0.625em
    top: 0.125em
    bottom: 0.125em

.footer
  width: $site-width
  background-color: $color-dark2
  color: $bright-font
  margin:
    top: 1.875em
    left: auto
    right: auto
  text-align: center
  min-height: $small-width
  padding:
    top: 0.75em
    bottom: 0.75em
  a:link
    color: $color-light1
  a:visited
    color: $color-light2
  a:active
    color: $color-light2

.inner-footer
  margin:
    left: auto
    right: auto
  width: 50%
  font-size: 12px

h1
  color: $color-dark1

h2
  color: $color-dark2

.map
  @extend left-float
  height: 38.5em
  width: 60%

.map-right
  @extend right-float
  width: 35%

.circle
  @extend left-float

.left-float
  float: left

.right-float
  float: right

@mixin circle-format($circle-dia, $color, $font)
  $circle-dia: $circle-year * $circle-dia
  background: $color
  -moz-border-radius: $circle-dia/2
  -webkit-border-radius: $circle-dia/2
  border-radius: $circle-dia/2
  color: $font
  font-variant: small-caps
  text-align: center

#circle1
  @include circle-format(6, $color-main, $bright-font)

#circle2
  @include circle-format(3, $color-main, $bright-font)

#circle2-first
  @include circle-format(3, $color-dark1, $bright-font)

#circle3
  @include circle-format(5, $color-main, $bright-font)

#circle4
  @include circle-format(1.25, $color-dark1, $bright-font)

#circle5
  @include circle-format(0.25, $color-dark1, $bright-font)

.school-name
  font-size: $large-font

.work-item
  float: left
  width: 14.5em
  height: 13.5em
  margin:
    left: $small-margin
    right: $small-margin
  background-color: $color-dark2

.work-item img
  opacity: 0.75

.inner-work-item
  width: $large-width
  margin:
    left: auto
    right: auto
    top: 0.5em

.work-item:hover
  background-color: $color-dark1

.work-item:hover img
  opacity: 1

.emphasis
  color: $color-main
  font-weight: bold

.un-emphasis
  color: $dark-font
  font-weight: normal
  opacity: 0.1